extends layout

block content
  //p= JSON.stringify(data)
  h1= title
  p Welcome to #{title}
  
  
  
  table.table
    thead
      tr
        th.table-bordered ID
        th.table-bordered Name
        th.table-bordered Temp(C)
        
    each node, id in data
      tr
        td.table-bordered= id
        td.table-bordered
          a(href="/nodes/"+id)= node.NiceName
        td.table-bordered= node.Readings[0]
      