extends layout

block content
  //p= JSON.stringify(data)
  h1= title
  p Welcome to #{title}
  
  -var tempscale = { 15: "#3571b8", 20: "#4fbfa1", 25: "#efe763", 30: "#f2696a" };
  .grid
    each node, id in data
      .gridItem
        .inner
          .id ##{id}
          -var hexCode = "#ff0000"
          h2= node.NiceName
          each hex, temp in tempscale
            if(temp > node.Readings[0]) 
              -hexCode = hex
              -break
          h3(style="background: " + hexCode) #{node.Readings[0]}°C