extends layout

block js
	script(src='/js/chart.min.js')
	script.
		var sensors = !{JSON.stringify(sensors)};
		$(document).ready(function() {
			for (var id in sensors) {
				var sensor = sensors[id];
				switch sensor.type {
					case 1:
					let $element = $("[node-id="+id+"]");
					sensor.chart = new Chart($element.find("canvas").get(0).getContext('2d')).PolarArea({ });
					break;
				}
			}
		});

block content
	h1= title
	p= nice_name
 
 
	table.table
		thead
			tr
				th.table-bordered Sensor Name
				th.table-bordered Value
				
		each sensor, id in sensors
			tr
				td.table-bordered= "Temperature"
				case sensor.type
					when 1
						td.table-bordered(sensor-id=id)
							canvas(width=500, height=300)
					when 2
						td.table-bordered
							img(sensor-id=id, src="/"+node_id+"-"+sensor.value,width=300,height=200)